<section _ngcontent-c3="" class="favourites-container">

  <div *ngFor="let comic of comics.data.results" _ngcontent-c3="" class="favourites-wrapper">
    <div _ngcontent-c3="" class="favourite-image">
      <div _ngcontent-c3="" class="favourite-poster" style="{{comic.thumbnail?.path + '.' + comic.thumbnail?.extension}}">
          <div _ngcontent-c3="" class="delete-favourite-btn-stl">
              <i _ngcontent-c3="">x</i>
          </div>
      </div>
      </div>
      <div _ngcontent-c3="" class="favourite-title">
      <h3 _ngcontent-c3="">comic.title</h3>
      </div>
  </div>
</section>
