<section _ngcontent-c0 class="main-container">
  <div _ngcontent-c0 class="main-section">
    <section _ngcontent-c4="">
        <div _ngcontent-c4="" class="sort-container">
          <ul>
            <li>Characters</li>
          </ul>
          <select _ngcontent-c4="" id="sortBy">
                <option _ngcontent-c4="" value="">Sort By</option>
                <option _ngcontent-c4="" value="name">Name +</option>
                <option _ngcontent-c4="" value="-name">Name -</option>
          </select>
        </div>
    </section>

    <section _ngcontent-c4="" class="characters-container">
      <div _ngcontent-c4="" class="character-box">
        <div _ngcontent-c4="" class="character-summary">
          <div _ngcontent-c4="" class="character-image">
            <div _ngcontent-c4="" class="circle" style="background-image: url('/src/assets/img/spider-man.png'); background-size: cover;">
            </div>
          </div>
          <div _ngcontent-c4="" class="character-info">
                        <div _ngcontent-c4="" class="wrapper">
                            <div _ngcontent-c4="" class="name">SPIDER MAN
                            </div>
                            <p _ngcontent-c4="">
                              Bitten by a radioactive spider, high school student Peter Parker
                              gained the speed, strength and powers of a spider. Adopting the Name
                              Spider-man, Peter hoped to...
                            </p>
                            <button _ngcontent-c4="" class="main-btn-stl">VIEW MORE</button>
                        </div>
          </div>
        </div>
        <div _ngcontent-c4="" class="related-comics-title">
              <h3 _ngcontent-c4="">Related comics</h3>
        </div>
        <div _ngcontent-c4="" class="character-related-comics">
          <div _ngcontent-c4="" class="related-comics-wrapper">
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Spider-Man/Deadpool
                #11
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Spidey #12
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                The Clone Conspiracy #2
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Avengers #1
              </div>
            </div>
          </div>
        </div>
      </div>
      <div _ngcontent-c4="" class="character-box">
        <div _ngcontent-c4="" class="character-summary">
          <div _ngcontent-c4="" class="character-image">
            <div _ngcontent-c4="" class="circle" style="background-image: url(/src/assets/img/black-widow.png); background-size: cover;">
            </div>
          </div>
          <div _ngcontent-c4="" class="character-info">
            <div _ngcontent-c4="" class="wrapper">
              <div _ngcontent-c4="" class="name">
                BLACK WIDOW
              </div>
              <p _ngcontent-c4="">
                Cras quis mulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bubendum.
                Cras quis nulla commodo, aliquam lectus sed, biandil augue.
              </p>
              <button _ngcontent-c4="" class="button">VIEW MORE</button>
            </div>
          </div>
        </div>
        <div _ngcontent-c4="" class="related-comics-title">
          <h3 _ngcontent-c4="">Related comics</h3>
        </div>
        <div _ngcontent-c4="" class="character-related-comics">
          <div _ngcontent-c4="" class="related-comics-wrapper">
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Related comic name two lines
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Related comic name two lines
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Related comic name two lines
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Related comic name two lines
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <aside _ngcontent-c0="" class="favourites-section">
        <div _ngcontent-c0="">
            <h1 _ngcontent-c0="">My favourites</h1>
        </div>
  </aside>
</section>
