<section _ngcontent-c0 class="main-container">
  <div _ngcontent-c0 class="main-section">
    <section _ngcontent-c4="">
        <div _ngcontent-c4="" class="sort-container">
          <ul>
            <li>Characters</li>
          </ul>
          <select _ngcontent-c4="" id="sortBy">
                <option _ngcontent-c4="" value="">Sort By</option>
                <option _ngcontent-c4="" value="name">Name +</option>
                <option _ngcontent-c4="" value="-name">Name -</option>
          </select>
        </div>
    </section>

    <section _ngcontent-c4="" class="characters-container">

      <div *ngFor="let hero of heros.data.results | paginate : {itemsPerPage: 10, currentPage: pageActual}" _ngcontent-c4="" class="character-box">
        <div  _ngcontent-c4="" class="character-summary">
          <div _ngcontent-c4="" class="character-image">

            <!-- <div   _ngcontent-c4="" class="circle" style="background-image: url({{'hero.thumbnail.path + '.' + hero.thumbnail.extension'); background-size: cover;">
            </div> -->
            <div _ngcontent-c4="">
              <img src="{{hero.thumbnail.path + '.' + hero.thumbnail.extension}}"  class='imgRedonda'>

            </div>


          </div>
          <div _ngcontent-c4="" class="character-info" >
                        <div _ngcontent-c4="" class="wrapper">
                            <div   _ngcontent-c4="" class="name" >
                              {{ hero.name }}
                            </div>
                            <p _ngcontent-c4="">
                              {{ hero.description }}
                            </p>
                            <button routerLink="comic/{{hero.id}}" _ngcontent-c4="" class="button" >VIEW MORE</button>
                        </div>
          </div>
        </div>

        <div  _ngcontent-c4="" class="related-comics-title">
              <h3 _ngcontent-c4="">Related comics</h3>
        </div>
        <div _ngcontent-c4="" class="character-related-comics">
          <div _ngcontent-c4="" class="related-comics-wrapper">
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">

                <!-- <div *ngFor = "let comic of hero.comics.items">
                  {{ comic.name }}
                </div> -->
              </div>
            </div>
            <!-- <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Spidey #12
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                The Clone Conspiracy #2
              </div>
            </div>
            <div _ngcontent-c4="">
              <div _ngcontent-c4="" class="related-comic">
                Avengers #1
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- <div _ngcontent-c4="" class="pagination-container">
        <div _ngcontent-c4=""> -->
          <!-- <div _ngcontent-c4="" class="pagination-btn-stl">
            &lt;
          </div>
          <div _ngcontent-c4="" *ngFor ="let page of pages"  class="pagination-btn-stl page-selected">
            <div _ngcontent-c4="" onclick="pagination(page)">
              {{ page }}
            </div>
          </div> -->
          <!-- <div _ngcontent-c4="" class="pagination-btn-stl">
            2
          </div>
          <div _ngcontent-c4="" class="pagination-btn-stl">
            3
          </div>
          <div _ngcontent-c4="" class="pagination-btn-stl">
            4
          </div>
          <div _ngcontent-c4="" class="pagination-btn-stl">
            5
          </div> -->
          <!-- <div _ngcontent-c4="" class="pagination-btn-stl">
            ...
          </div>
          <div _ngcontent-c4="" class="pagination-btn-stl page-selected">
            &gt;
          </div> -->
        <!-- </div>
      </div> -->

      <pagination-controls (pageChange)="pageActual=$event" directionLinks = "true"></pagination-controls>

    </section>

  </div>
  <aside _ngcontent-c0="" class="favourites-section">
        <div _ngcontent-c0="" class="main-title-container">
            <h1 _ngcontent-c0="">My favourites</h1>
        </div>
        <app-favoritos _ngcontent-c0="" _nghost-c3="">
        </app-favoritos>
  </aside>
</section>
