.main-title-container[_ngcontent-c5] {
    padding: 40px;
}

.character-container[_ngcontent-c5] {
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
}

.character-poster[_ngcontent-c5] {
    width: 216px;
    height: 324px;
}

.character-info[_ngcontent-c5] {
    width: 316px;
}

.character-info[_ngcontent-c5] h1[_ngcontent-c5] {
    font-size: 40px;
    color: #ec1d23;
    margin-bottom: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-return-stl[_ngcontent-c5] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background: #2d2727;
}

.comics-title[_ngcontent-c5] {
    text-align: center;
    padding: 40px;
}

.comics-title[_ngcontent-c5] h2[_ngcontent-c5] {
    color: #ec1d23;
}

.comic-info[_ngcontent-c5] {
    width: calc(100% - 150px);
    text-align: left;
    padding: 0 15px;
}

.comic-description-container[_ngcontent-c5] {
    height: 85%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    padding: 20px;
}

.cta[_ngcontent-c5] {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    background: #2d2727;
    height: 15%;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.comic-box[_ngcontent-c5] {
    background: #fff;
    width: 350px;
    height: 290px;
    margin: 40px 10px;
}

div{
  display: block;
}
