<section _ngcontent-c5="">
    <div _ngcontent-c5="" class="main-title-container">
        <h1 _ngcontent-c5="">Character details</h1>
    </div>
</section>

<section _ngcontent-c5="" class="character-section-container">
  <div _ngcontent-c5="" class="character-container">
    <div _ngcontent-c5="" class="character-poster" style="background-image: url(&quot;http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784/portrait_incredible.jpg&quot;); background-size: cover;">
    </div>
    <div _ngcontent-c5="" class="character-info">
      <h1 _ngcontent-c5="">
        3-D Man
      </h1>
      <p _ngcontent-c5=""></p>
    </div>
    <div _ngcontent-c5="" class="btn-return-stl">&lt;
    </div>
  </div>
  <div _ngcontent-c5="" class="comics-title">
    <h2 _ngcontent-c5="">
      Comics
    </h2>
  </div>
  <div _ngcontent-c5="" class="comics-container">
    <div _ngcontent-c5="" class="comic-box">
      <div _ngcontent-c5="" class="comic-description-container">
        <div _ngcontent-c5="" class="comic-poster" style="background-image: url(&quot;http://i.annihil.us/u/prod/marvel/i/mg/d/03/58dd080719806/portrait_xlarge.jpg&quot;); background-size: cover;">
        </div>
        <div _ngcontent-c5="" class="comic-info">
          <h3 _ngcontent-c5="">
            Avengers: The Initiative (2007) #19
          </h3>
          <h4 _ngcontent-c5="">
            Print price : $2.99
          </h4>
          <h4 _ngcontent-c5="">
            Digital price : $1.99
          </h4>
          <h4 _ngcontent-c5="">
            Pages : 32
          </h4>
        </div>
      </div>
      <div _ngcontent-c5="" class="cta">
        MORE
      </div>
    </div>
  </div>
</section>
