<section _ngcontent-c5="">
    <div _ngcontent-c5="" class="main-title-container">
        <h1 _ngcontent-c5="">Character details</h1>
    </div>
</section>

<section  _ngcontent-c5="" class="character-section-container">

  <div   _ngcontent-c5="" class="character-container">
    <div _ngcontent-c5="">

      <!-- <img src="{{poster.thumbnail.path + '.' + poster.thumbnail.extension}}" class="character-poster" > -->

    </div>
    <div _ngcontent-c5="" class="character-info"></div>
      <h1 _ngcontent-c5="">

      </h1>
      <p _ngcontent-c5=""></p>
    </div>
    <div routerLink="" _ngcontent-c5="" class="btn-return-stl">&lt;
    </div>

  <div _ngcontent-c5="" class="comics-title">
    <h2 _ngcontent-c5="">
      Comics
    </h2>
  </div>
  <div  *ngFor="let hola of comics.data.results" _ngcontent-c5="" class="comics-container">
    <div _ngcontent-c5="" class="comic-box">
      <div _ngcontent-c5="" class="comic-description-container">
        <div  _ngcontent-c5="">
        <img src="{{hola.thumbnail.path + '.' + hola.thumbnail.extension}}" class="character-poster" >

        </div>
        <div   _ngcontent-c5="" class="comic-info">
          <h3 _ngcontent-c5="">
              {{hola.title}}
          </h3>
          <h4  *ngIf="hola.prices?.length>0" _ngcontent-c5="">
              {{hola.prices[0].price}}
          </h4>
          <h4 _ngcontent-c5="">
            {{ hola.pageCount}}
          </h4>
          <h4 _ngcontent-c5="">

          </h4>
        </div>
      </div>
      <div _ngcontent-c5="" class="cta">
        MORE
      </div>
    </div>
  </div>
</section>
